body {
  margin: 8px;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    background-color: aliceblue;
    border: 1px solid silver;
    padding: 8px;
}

.wrapper > p {
    line-height: 24px;
    margin: 0;
    padding: 0;
}
